@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald&subset=cyrillic');


html{
	height: 100vh;
}

body{
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	width: 100%;
	height: 100%;
	background-color: #f4ebd9;
}

.btn-purple-outline {
  background-color: white;
   border-color: #492DA8;
   color: #492DA8;
   letter-spacing: 1px;
}
.btn-purple-outline:hover {
   background-color: #241653;
   border-color: #241653;
   color: white;
}

.pointer:hover {
  cursor: pointer;
}

.sizefixed {
  min-width: 120px;
}

/* Media queries for adminlogin page*/

.form{
  height: 130px;
  width: 350px;
}
.image {
  height: 130px;
  width: 350px;
}

@media screen and (max-width: 768px) {
  .image {
    height: 130px;
    width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .form {
    height: 130px;
    width: 250px;
  }
}

@media screen and (max-width: 576px) {
  .image {
    height: 130px;
    width: 200px;
  }
}

@media screen and (max-width: 576px) {
  .form{
    height: 130px;
    width: 200px;
  }
}
.img-thumb {  
  object-fit: cover;
  height: 100%;