html {
    height: 100vh;
}

body {
    height: 100vh;
}


.dropChanges {
    margin-top: 1vw;
    margin-left: 3vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropChangesInfoField {
    max-width: 90vw;
    margin: 0 5vw;
}

.fieldChanges {
    display: flex;
    flex-direction: row;
}

.btnsize {
  width: 200px;
  height: 40px;
}

.btnSizeAdd {
    height: 40px;
}

@media screen and (max-width: 992px){
    .fieldChanges {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px){
    .fieldChanges {
        display: flex;
        flex-direction: column;
    }
}
.text-purple {
   color: #492DA8 !important;
 }

.btn-purple-outline {
  background-color: white;
   border-color: #492DA8;
   color: #492DA8;
   letter-spacing: 1px;
}
.btn-purple-outline:hover {
   background-color: #492DA8;
   border-color: #241653;
   color: white;
}
